
.container {
    background-color: var(--white);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: solid 2px black;
    transition: all .2s;
}

.container.active{
    background-color: var(--gray);
}

.container:active {
    transform: translateY(2px);
    background-color: var(--gray);
}

.container span {

}

.container img,
.container svg,
.container i {
    max-height: 40px;
    margin: 4px 0 4px 15px;
}

@media (min-width: 768px) {
    .container:hover {
        background-color: darkgrey;
        /*//prevents always hover on mobile*/
    }
}
