

.container {
    height: 16vh;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container img {
    height: 50px;
}