* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --white: #ffffff;
  --white-100 : #F4EBE8;

  --gray : #ADB5BD;

  --blue-0: #E3F2FD;
  --blue-100 : #BBDEFB;
  --blue-200 : #90CAF9;
  --blue-300 : #64B5F6;
  --blue-400 : #42A5F5;
  --blue-500 : #2196F3;
  --blue-600 : #1E88E5;
  --blue-700 : #1976D2;
  --blue-800 : #1565C0;
  --blue-900 : #0D47A1;
}

body {
  font-size: 20px;
  font-family: 'Inter', cursive;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 950px;
  width: calc(100% - 24px);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Inter', cursive;
  line-height: 1.5; /* Adjust the value to increase or decrease line spacing */
  margin-bottom: 1.5rem;
  font-size: 20px;
  text-align: start;
}

.infoCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}