

.container table {
    border : 3px solid black;
    border-radius : 8px;
    border-collapse:  collapse;
}

.container td {
    padding: 10px;
}

.container td strong {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 15px;
}

/*for some reason, ol and ul are not on the line, must move them*/
.container ul,
.container ol {
    margin-left: 24px;
}

.container img {
    display: block;
    margin: 0 auto;
    width: min(700px, 90vw);
}

.container blockquote {
    border-left: 4px solid var(--blue-800); /* Left border color and width */
    padding: 10px; /* Padding around the content inside the blockquote */
    margin: 15px 0; /* Margin to provide space around the blockquote */
    background-color: var(--blue-100); /* Background color */
    font-style: italic; /* Italicize the text inside the blockquote */
}

.container blockquote p {
    margin: 0; /* Remove default paragraph margin inside blockquote */
}