

.collapsibleMenu {
    width: min(80%, 700px);
}

.rotatePlus {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.rotateMinus {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.content {
    padding: 10px 10px;
    margin-bottom: 10px;
}