

.container {
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.infoContainer svg {
    cursor: pointer;
}